<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Вход</title>
    <link rel="shortcut icon" href={% static 'icons/logo.png' %}> 
    <link rel="stylesheet" href={% static 'css/common/enter.css' %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
</head>
<body>
    <div class="up">
        <h3>Вход на <name><a href="/admin/">Gerzevich.info</a></name></h3>
    </div> 
    <div class="pole">
        <form action="" method="POST">{% csrf_token %}
            <p><input name="login" autocomplete="off" placeholder="Логин" type="login" required class="form_input1"></p>
            <p><input name="password" autocomplete="off" placeholder="Пароль" type="password" required class="form_input2"></p>
            <p><input type="submit" name="click" value="Войти" class="form_button"></p>
        </form>
    </div>
</body>
</html>