<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Домашнее задание</title>
    <link rel="stylesheet" href={% static 'css/common/common.css' %}>
    <link rel="stylesheet" href={% static 'css/common/common2.css' %}>
    <link rel="stylesheet" href={% static 'css/homepage/tests.css' %}>
    <link rel="shortcut icon" href={% static 'icons/logo.png' %}> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <script src={% static 'js/menu.js' %}></script>
</head>
<body>
    <div class="name">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Menu</button>
            <div id="myDropdown" class="dropdown-content">
                <div class="icon"><img src={% static 'icons/iconuser.png' %}></div><div class="user1">{{name}}</div>
                <a href="/select/?id={{id}}">На главную</a>
                <a href="/tests/?id={{id}}">Тесты</a>
                <a href="#" class="here">Домашнее задание</a>
                <form action="/select/" method="POST">{% csrf_token %}
                    <input type="submit" name="quit" value="Выйти" class="btn">
                    <input type="hidden" name="id" value="{{id}}">
                </form>
            </div>
        </div>
        <h3>Gerzevich.info</h3>
    </div>
    <div class="fly"></div>
    <p><div class="list">
        {{questions}}
        {% for i,j in listtests.items %}
            <details class="flag">
                <summary class="flag">{{i.1}}</summary>
                <p>
                    <table>
                        <tr><th>id</th><th>Название</th><th>Начать</th></tr>
                        {% if j.0 == None %}
                            <tr><td colspan="3">Нет тестов</td></tr>
                        {% endif %}
                        {% for k in j %}
                        <tr>
                            <td>{{k.0}}</td>
                            <td>{{k.1}}</td>
                            <td><a href="/homework/?id={{id}}&test={{k.0}}" class="button">начать</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </p>
            </details>
        {% endfor %}
    </div></p>
</body>
</html>