<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>{{group}}</title>
    <link rel="stylesheet" href={% static 'css/common/common.css' %}>
    <link rel="stylesheet" href={% static 'css/common/common2.css' %}>
    <link rel="stylesheet" href={% static 'css/homepage/klass.css' %}>
    <link rel="shortcut icon" href={% static 'icons/logo.png' %}> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <script src={% static 'js/menu.js' %}></script>
</head>
<body>
    <div class="name">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Menu</button>
            <div id="myDropdown" class="dropdown-content">
                <div class="icon"><img src={% static 'icons/iconuser.png' %}></div><div class="user1">{{name}}</div>
                <a href="/select/?id={{id}}">На главную</a>
                <a href="/tests/?id={{id}}">Тесты</a>
                <a href="/homeworks/?id={{id}}">Домашнее задание</a>
                <form action="/select/" method="POST">{% csrf_token %}
                    <input type="submit" name="quit" value="Выйти" class="btn">
                    <input type="hidden" name="id" value="{{id}}">
                </form>
            </div>
        </div>
        <h3>Gerzevich.info</h3>
    </div>
    <div class="fly"></div>
    <div class="list">
        {% for record in listrecords %}
            <div class="record">
            <h><d>{{record.1}}</d> {{record.2}}</h>
            <p>{{record.3}}</p>
            </div><br>
        {% endfor %}
    </div>
</body>
</html>