<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Выбор</title>
    <link rel="stylesheet" href={% static 'css/common/common.css' %}>
    <link rel="stylesheet" href={% static 'css/common/common2.css' %}>
    <link rel="stylesheet" href={% static 'css/homepage/select.css' %}>
    <link rel="shortcut icon" href={% static 'icons/logo.png' %}> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <script src={% static 'js/menu.js' %}></script>
</head>
<body>
    <div class="name">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Menu</button>
            <div id="myDropdown" class="dropdown-content">
                <div class="icon"><img src={% static 'icons/iconuser.png' %}></div><div class="user1">{{name}}</div>
                <a href="#" class="here">На главную</a>
                <a href="/tests/?id={{id}}">Тесты</a>
                <a href="/homeworks/?id={{id}}">Домашнее задание</a>
                <form action="/select/" method="POST">{% csrf_token %}
                    <input type="submit" name="quit" value="Выйти" class="btn">
                    <input type="hidden" name="id" value="{{id}}">
                </form>
            </div>
        </div>
        <h3>Gerzevich.info</h3>
    </div>
    <div class="fly"></div>
    <div class="select">
        {% for group in listgroups %}
            <div class="content"><a href="/klass/?id={{id}}&klass={{group.0}}">{{group.1}}
            <br>
            <img src='/static/avatars/{{group.2}}' class="img"></a></div>
        {% endfor %}
        <div class="content"><a href="https://stepik.org/">stepik.org
        <br>
        <img src='/static/avatars/stepic.png' width="170px" height="150px"></a></div>
        <div class="content"><a href="https://informatics.msk.ru/">informatics.msk
        <br>
        <img src='/static/avatars/informatics.jpg' width="170px" height="150px"></a></div>
        <div class="content"><a href="https://www.научим.online/it-fest">IT FEST
        <br>
        <img src='/static/avatars/itfest.jpg' width="170px" height="150px"></a></div>
    </div>
    <script>
        if ('{{hello}}'=='True'){
            let name='{{name}}'.split(' ')
            alert('Добро пожаловать, '+name[0]+'!')
            document.location.href = '/select/?id={{id}}';
        }
    </script>
</body>
</html>