<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>{{test.1}}</title>
    <link rel="stylesheet" href={% static 'css/common/common.css' %}>
    <link rel="stylesheet" href={% static 'css/common/common2.css' %}>
    <link rel="stylesheet" href={% static 'css/homepage/test.css' %}>
    <link rel="shortcut icon" href={% static 'icons/logo.png' %}> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <script src={% static 'js/menu.js' %}></script>
</head>
<body>
    <div class="name">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Menu</button>
            <div id="myDropdown" class="dropdown-content">
                <div class="icon"><img src={% static 'icons/iconuser.png' %}></div><div class="user1">{{name}}</div>
                <form action="/select/" method="POST">{% csrf_token %}
                    <a href="/select/?id={{id}}">На главную</a>
                    <a href="#" class="here">Тесты</a>
                    <a href="/homeworks/?id={{id}}">Домашнее задание</a>
                    <input type="submit" name="quit" value="Выйти" class="btn">
                    <input type="hidden" name="id" value="{{id}}">
                </form>
            </div>
        </div>
        <h3>Gerzevich.info</h3>
    </div>
    <div class="fly"></div>
    {% if method == 'start' %}
    <div class="start">
        <label>Название теста:</label> {{test.1}}
        <form action="/test/" method="POST">{% csrf_token %}
            <p><input type="submit" name="start" value="Начать выполнение теста" class="submit"></p>
            {% if continue == True %}
            <p>У вас есть незавершенный тест, продолжить?</p>
            <p><input type="submit" name="continue" value="Продолжить" class="submit"></p> 
            {% endif %}
            <input type="hidden" name="test" value="{{test.0}}">
            <input type="hidden" name="id" value="{{id}}">
        </form>
        <a href="/tests/?id={{id}}">Назад</a>
    </div>
    {% elif method == 'next' %}
    <div class="test">
    <form action="/test/" method="POST">{% csrf_token %}
        <input type="hidden" name="idq" value="{{question.0}}">
        <input type="submit" value="Завершить" class="end" name="end">
        <p class="text">{{question.2}}</p>
        {% if question.1 != None %}<img src="/static/img/{{question.1}}">{% endif %}
        <p><input class="input" name="answer" autocomplete="off"> <input type="submit" class="submit" value="отправить" name="btn"></p>
        <p><br></p><input type="submit" name="next" value="Пропустить" class="submit">
        <input type="hidden" name="questions" value="{{questions}}">
        <input type="hidden" name="id" value="{{id}}">
        <input type="hidden" name="test" value="{{test.0}}">
    </form>
    </div>
    {% elif method == 'end' %}
    <div class="res">
        <form action="/test/" method="POST">{% csrf_token %}
        {{result|safe}}
        <p><input type="submit" name="endtest" value="Завершить тест" class="submit"></p>
        <input type="hidden" name="questions" value="{{questions}}">
        <input type="hidden" name="test" value="{{test.0}}">
        <input type="hidden" name="id" value="{{id}}">
        </form>
    </div>
    {% endif %}
</body>
</html>