div.name{
    position: fixed;
    width: 100%;
    background-color:black;
    height: 60px;
}
div.fly{
    height: 60px;
}
div.name>h3{
    color: yellowgreen;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0 15px;
    float: right;
}
div.icon>img{
    width: 35px;
    height: 35px;
    padding: 10px 8px 0 10px;
    float: left;
}
div.user{
    padding: 10px;
    color:gold;
    font-family: sans-serif;
    font-weight: bold;
}
div.user1{
    padding: 10px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
}
.btn{
    margin-left: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16xp;
    color :#fff ;
    background-color: #0071f0;
    outline: none;  
    cursor: pointer; 
    transition: 0.3s; 
}
/* Dropdown Button */
.dropbtn {
    margin-top: 10px;
    margin-left: 10px;
    background-color: #0071f0;
    font-family: sans-serif;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #0071f0;
    border-radius: 10px 10px 10px 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 2px solid grey;
    border-radius: 0 10px 10px 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-family: sans-serif;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
a.here{
    color: tomato;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

select{
    background-color: whitesmoke;
    color: black;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}
a.home{
    color: black;
    padding: 5px;
    font-family: sans-serif;
    text-decoration: none;
}
a.home:hover{
    color: grey;
}