td {
    text-align: center;
}
body{
    font-family: sans-serif;
}
details > summary:first-of-type {
    list-style-type: none;
}
details summary::-webkit-details-marker {
    display:none;
}
details.notflag{
    color: blueviolet;
}
details.flag summary.flag:after {
    background: #1DE9B6; 
    border-radius: 5px; 
    content: "+"; 
    color: #fff; 
    float: left; 
    font-size: 1.3em; 
    margin: -5px 10px 0 0; 
    padding: 0; 
    text-align: center; 
    width: 20px;
}
details.flag[open] summary.flag:after {
    content: "-";
}
details.flag {
    color: black;
    background-color: whitesmoke;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    font-family: sans-serif;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    color: #363636;
    margin: 0 0 .4em;
    padding: 1%;
}
table {
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
table td {
	border: 1px solid #dddddd;
	padding: 5px;
}