<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>403</title>
    <link href={% static 'css/common/403.css' %} rel="stylesheet">
    <script src={% static 'js/403.js' %}></script>
    <link rel="shortcut icon" href={% static 'icons/logo.png' %}> 
</head>
<body>
    <div class="scene">
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <span class="bg-403">403</span>
        <div class="text">
          <span class="hero-text"></span>
          <span class="msg">can't let <span>you</span> in.</span>
          <span class="support">
            <span>unexpected?</span>
            <a href="/">back</a>
          </span>
        </div>
        <div class="lock"></div>
      </div>
</body>
</html>