<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Домашнее задание</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href={% static 'css/common/common.css' %}>
    <link rel="stylesheet" href={% static 'css/common/common2.css' %}>
    <link rel="stylesheet" href={% static 'css/admin/tests.css' %}>
    <link rel="shortcut icon" href={% static 'icons/logo.png' %}> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src={% static 'js/menu.js' %}></script>
</head>
<body>
    <div class="name">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Menu</button>
            <div id="myDropdown" class="dropdown-content">
                <div class="icon"><img src={% static 'icons/iconuser.png' %}></div><div class="user">{{name}}</div>
                <a href="/admin/select/?id={{id}}">На главную</a>
                <a href="/admin/users/?id={{id}}">Пользователи</a>
                <a href="/admin/groups/?id={{id}}">Группы</a>
                <a href="/admin/tt/?id={{id}}">Предметы, темы и типы</a>
                <a href="/admin/questions/?id={{id}}">Вопросы</a>
                <a href="/admin/tests/?id={{id}}">Тесты</a>
                <a href="#" class="here">Домашнее задание</a>
                <a href="/admin/writing/?id={{id}}">Записи</a>
                <form action="/admin/select/" method="POST">{% csrf_token %}
                    <input type="submit" name="quit" value="Выйти" class="btn">
                    <input type="hidden" name="id" value="{{id}}">
                </form>
            </div>
          </div>
          <h3>Gerzevich.info</h3>
    </div>
    <div class="fly"></div>
    <p><div class="new">
        <details {% if opennew == True %}open{% endif %} class="flag">
            <summary class="flag">Добавить домашнее задание</summary>
            <form action="/admin/homework/" method="POST">{% csrf_token %}
                <p><select name="object" onchange="this.form.submit()">
                    <option value="{{object.0}}">{{object.1}}</option>
                    {% for t in listobjects %}
                        {% ifnotequal t.0 object.0 %}
                            <option value="{{t.0}}">{{t.1}}</option>
                        {% endifnotequal %}
                    {% endfor %}
                </select></p>
            <input type="hidden" name="id" value="{{id}}"></form>
           {% if object.0 != '-' %}
                <form action="/admin/homework/" method="POST">{% csrf_token %}
                <p><input name="name" class="input" placeholder="Название" autocomplete="off" required></p>
                {% for topic,types in listtt.items %}
                <p><details class="top">
                    <summary class="up">{{topic.1}}</summary>
                    <table>
                        <tr><th>Кол-во</th><th>Название</th></tr>
                        {% for type in types %}
                            <tr>
                                <td><input name="dig[]" type="number" max=10 min=0 class="dig" value="0"></td>
                                <td class="name"><input name="types[]" value="{{type.0}}" type="hidden">{{type.1}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </details></p>
                {% endfor %}
                <p><input type="submit" class="submit" value="Добавить" name="new"></p>
                <input type="hidden" name="object" value="{{object.0}}">
                <input type="hidden" name="id" value="{{id}}"></form>
           {% endif %}
        </details>
    </div></p>
    <p><div class="list">
        <details {% if openlist == True %}open{% endif %} class="flag">
            <summary class="flag">Список домашнего задания</summary>
            <form action="/admin/homework/" method="POST">{% csrf_token %}
            <p><select name="test" onclick="this.form.submit()">
                {% if test == '-' %}<option value="-">Домашнее задание</option>{% endif %}
                {% for i,j in listhomework.items %}
                    <optgroup label="{{i.1}}">
                        {% for t in j %}
                            {% if t.0 != test.0 %}
                                <option value="{{t.0}}">{{t.1}}</option>
                            {% else %}
                                <option value="{{t.0}}" selected>{{t.1}}</option>
                            {% endif %}
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select></p>
            <input type="hidden" name="id" value="{{id}}"></form>
            {% if test != '-' %}
            <form action="/admin/homework/" method="POST">{% csrf_token %}
            <p><input type="submit" name="deltest" value="Удалить" class="del" onclick="return confirm('Вы уверены?')"></p>
            <p>
                {% if active == 'Неактивен' %}
                <input type="radio" name="active" value="Активен" onclick="this.form.submit()"> Активен
                <input type="radio" name="active" value="Неактивен" onclick="this.form.submit()" checked> Неактивен
                {% else %}
                <input type="radio" name="active" value="Активен" onclick="this.form.submit()" checked> Активен
                <input type="radio" name="active" value="Неактивен" onclick="this.form.submit()"> Неактивен
                {% endif %}
            </p>
            <table>
                <tr><th>Тема</th><th>Тип</th><th>Кол-во</th><th>Удалить</th></tr>
            {% for question in testinfo %}
                <tr>
                    <td>{{question.0}}</td>
                    <td><input type="hidden" name="types[]" value="{{question.1.0}}">{{question.1.1}}</td>
                    <td><input type="number" value="{{question.2}}" min=0 max=10 name="dig[]" class="dig"></td>
                    <td><button class="submit" name="deltype" value="{{question.1.0}}">Удалить</button></td>
                </tr>
            {% endfor %}
            </table class="hm">
            <p><input type="submit" name="updatehm" class="submit" value="Изменить кол-во"></p>
            <details class="up">
                <summary class="up">Изменить типы</summary>
                <p><input type="submit" name="update" class="submit" value="Изменить"></p>
                    {% for i,j in listtypes.items %}
                                <p><details class="topics">
                                    <summary class="topics">{{i.1}}</summary>
                                    <p><div class="content">
                                        <table>
                                            <tr><th>?</th><th>Тип</th></tr>
                                            {% for k in j %}
                                            <tr>
                                                <td><input type="checkbox" name="nums[]" value="{{k.0}}" {% if k in listids %}checked{% endif %}></td>
                                                <td>{{k.1}}</td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div></p>
                                </details></p>
                    {% endfor %}
            </details>
            <input type="hidden" name="test" value="{{test.0}}">
            <input type="hidden" name="id" value="{{id}}"></form>
            {% endif %}
        </details>
    </div></p>
    {{serveranswer}}
</body>
</html>