<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Вопросы</title>
    <link rel="stylesheet" href={% static 'css/common/common.css' %}>
    <link rel="stylesheet" href={% static 'css/common/common2.css' %}>
    <link rel="stylesheet" href={% static 'css/admin/questions.css' %}>
    <link rel="shortcut icon" href={% static 'icons/logo.png' %}> 
    {% block extrahead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    {% endblock extrahead %}
    <script src={% static 'js/menu.js' %}></script>
    <script src={% static 'js/files.js' %}></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
</head>
<body>
    <div class="name">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Menu</button>
            <div id="myDropdown" class="dropdown-content">
                <div class="icon"><img src={% static 'icons/iconuser.png' %}></div><div class="user">{{name}}</div>
                <a href="/admin/select/?id={{id}}">На главную</a>
                <a href="/admin/users/?id={{id}}">Пользователи</a>
                <a href="/admin/groups/?id={{id}}">Группы</a>
                <a href="/admin/tt/?id={{id}}">Предметы, темы и типы</a>
                <a href="#" class="here">Вопросы</a>
                <a href="/admin/tests/?id={{id}}">Тесты</a>
                <a href="/admin/homework/?id={{id}}">Домашнее задание</a>
                <a href="/admin/writing/?id={{id}}">Записи</a>
                <form action="/admin/select/" method="POST">{% csrf_token %}
                    <input type="submit" name="quit" value="Выйти" class="btn">
                    <input type="hidden" name="id" value="{{id}}">
                </form>
            </div>
          </div>
          <h3>Gerzevich.info</h3>
    </div>
    <div class="fly"></div>
    <p><div class="list">
        <form action="/admin/questions/" method="POST">{% csrf_token %}
            <div class="search">
                <input name="search" autocomplete="off" placeholder="id, имя, фамилия или статус" value="{{search}}" class="search1">
                <input type="submit" name="btn" value="Искать" class="search2">
            </div>
            <div class="triangle"></div>
            <input type="hidden" name="id" value="{{id}}">
            <p>
            <input type="checkbox" {% if opq != 'off' %}checked{% endif %} onclick="this.form.submit()" name="opq" id="checkbox-1">
            <label for="checkbox-1">Показать ответы</label>
            <br>
            <input type="checkbox" {% if opt != 'off' %}checked{% endif %} onclick="this.form.submit()" name="opt" id="checkbox-2">
            <label for="checkbox-2">Показать текст вопросов</label>
            </p>
        </form>
        <table border="1px">
            <tr><th>id</th><th>Предмет</th><th>Тема</th><th>Тип</th><th>Вопрос</th><th>Ответ</th><th>Картинка</th><th>Действие</th><th>Изменить</th></tr>
            <tr><form action="/admin/questions/" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <td>-</td>
                <td>
                    <select name="object" onclick="this.form.submit()">
                        <option value="{{object.0}}">{{object.1}}</option>
                        {% for t in listobjects %}
                            {% ifnotequal t.1 object.1 %}
                                <option value="{{t.0}}">{{t.1}}</option>
                            {% endifnotequal %}
                        {% endfor %}
                    </select>
                    <input type="hidden" name="search" value="{{search}}">
                    <input type="hidden" name="id" value="{{id}}">
                </td>
                {% if listtt|length > 0 %}
                <td colspan="2">
                    <select name="type">
                        <option value="-">Тип</option>
                        {% for i,j in listtt.items %}
                            <optgroup label="{{i.1}}">
                                {% for t in j %}
                                    {% if t.0 != type.0 %}
                                        <option value="{{t.0}}">{{t.1}}</option>
                                    {% else %}
                                        <option value="{{t.0}}" selected>{{t.1}}</option>
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                </td>
                <td><textarea name="text" autocomplete="off" rows="1" cols="15"></textarea></td>
                <td><textarea name="answer" autocomplete="off" rows="1" cols="5" required></textarea></td>
                <td><div class="fileform">
                    <div id="fileformlabel"></div>
                    <div class="selectbutton">Обзор</div>
                    <input type="file" name="img" id="upload" onchange="getName(this.value);" />
                    </div></td>
                <td colspan="2"><input type="submit" name="new" value="Добавить" class="submit"></td>
                {% else %}
                <td colspan="6">Выберите предмет</td>
                {% endif %}
                <input type="hidden" name="opq" value="{{opq}}">
                <input type="hidden" name="opt" value="{{opt}}">
            </tr></form> 
            {% for question in listquestions %}
                <tr><form action="/admin/questions/" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <td><input type="hidden" name="idq" value="{{question.0}}">{{question.0}}</td>
                    <td>{{question.1}}</td>
                    <td>{{question.2}}</td>
                    <td>{{question.3}}</td>
                    <td>
                    {% if opt != 'on' %}
                    <details class="notflag"><summary>Текст</summary>
                        <div class="block"><textarea name="text">{{question.4}}</textarea></div></details>
                    {% else %}
                        <textarea name="text" rows="2" cols="15">{{question.4}}</textarea>
                    {% endif %}
                    </td><td>
                    {% if opq != 'on' %}
                        <details class="notflag"><summary>Ответ</summary>
                            <div class="block"><textarea name="answer">{{question.5}}</textarea></div>
                        </details>
                    {% else %}
                        <textarea name="answer" rows="2" cols="15">{{question.5}}</textarea>
                    {% endif %}
                    </td><td>
                    {% if question.6 != None %}
                    <details class="notflag"><summary>Изображение</summary>
                    <div class="block"><img src='/static/img/{{question.6}}'><br>
                    <t><input type="checkbox" name="delimg" value="on"> Удалить<br><br>
                    <input type="file" name="img" accept="image/*"></t></details></div>
                    {% else %}
                        <input type="file" name="img" onchange="getName(this.value);" />
                    {% endif %}
                    </td>
                    <td><input type="submit" name="del" value="Удалить" class="submit"></td>
                    <td><input type="submit" name="up" value="Изменить" class="submit"></td>
                    <input type="hidden" name="search" value="{{search}}">
                    <input type="hidden" name="opq" value="{{opq}}">
                    <input type="hidden" name="opt" value="{{opt}}">
                    <input type="hidden" name="id" value="{{id}}">
                </tr></form> 
            {% endfor %}
        </table>
    </div></p>
    {{serveranswer}}
</body>
</html>