div.start{
    padding: 10px;
}
div.start>label{
    font-weight: bold;
}
.submit{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16xp;
    color :#fff ;
    background-color: #439bc4;
    outline: none;  
    cursor: pointer; 
    transition: 0.3s; 
}
a.back{
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
}
a.back:hover{
    color: cadetblue;
}
div.test{
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    border: 1px solid grey;
}
div.test>form>img{
    border: 1px solid grey;
    border-radius: 3px;
}
input.input{
    min-width: 250px;
    max-width: 300px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: grey;
}
input.input:hover{
    border-color: rgb(83, 75, 75);
}
input.input:focus{
    padding: 5px 0 1px 5px;
    border-color: green;
}
div.res{
    padding: 10px;
}
input.end{
    color: #000;
    background-color:wheat;
    border-radius: 5px;
    border: 1px solid grey;
    float: right;
    margin-top: -20px;
}
p.text{max-width: 50%;}
input.end:hover{background-color:rgb(223, 201, 201);}