div.search{
    padding: 0 10px 0 5px;
    float: left;
}
div.triangle{
    margin-left: 330px;
    border: 15px solid transparent;
    border-left:5px solid #fc0;
}
.search1{
    width: 250px;
    padding: 5px;
    height: 16px;
    border: 2px solid #fc0;
    float: left;
}
.search2{
    height: 30px;
    padding: 5px;
    font-family: sans-serif;
    border: none;
    background-color: #fc0;
}
.submit{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16xp;
    color :#fff ;
    background-color: #439bc4;
    outline: none;  
    cursor: pointer; 
    transition: 0.3s; 
}
.fileform { 
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    cursor: pointer;
    height: 26px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 230px;
}
 
.fileform .selectbutton { 
    background-color: #439bc4;
    border: 1px solid #939494;
    border-radius: 2px;
    color: #FFFFFF;
    float: right;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
 
.fileform #upload{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    font-size: 150px; 
    height: 30px; 
    z-index:20;
}
.fileform #fileformlabel { 
    background-color: #FFFFFF;
    float: left;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
    width:160px;
}
table{
    width: 100%;
    margin: auto;
}
details.notflag>summary{
    color: blueviolet;
}
div.block{
    text-align: left;
    position: absolute;
    border: 2px solid #CCCCCC;
    background-color: white;
}
div.block>t{
    color: black;
    margin-left: 10px;
}
input[type=checkbox]{
    margin-left: 5px;
}
select{max-width: 300px;}