table {
    min-width: 40%;
	width: auto;
	margin-bottom: 20px;
	border: 1px solid grey;
	border-collapse: collapse; 
}
table th {
	font-weight: bold;
	padding: 5px;
	background: wheat;
	border: 1px solid grey;
}
table td {
	background: white;
	border: 1px solid grey;
	padding: 5px;
}
input.input{
	width: 200px;
    background-color: whitesmoke;
    outline: 0;
    border-width: 0 0 2px;
    border-color: grey;
}
input.input:focus{
    padding: 5px 0 1px 5px;
    border-color: green;
}
.submit{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16xp;
    color :#fff ;
    background-color: #439bc4;
    outline: none;  
    cursor: pointer; 
    transition: 0.3s; 
}
.del{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16xp;
    color :#fff ;
    background-color: #213842;
    outline: none;  
    cursor: pointer; 
    transition: 0.3s; 
}
details.notflag>summary{
    color: blueviolet;
}
details.notflag>div{
    color: black;
    max-width: 400px;
    min-width: 40px;
}
details.notflag summary:after {
    background: grey; 
    color: #fff; 
    float: left; 
    padding: 0; 
    text-align: center; 
    width: 0px;
}

div.block{
    text-align: left;
    position: absolute;
    border: 2px solid #CCCCCC;
    background-color: white;
}
details.top>summary{
    color: black;
    font-weight: bold;
    font-family: fantasy;
}
details.top summary:after {
    content: ">";
    float: left;
}
details.top[open] summary:after {
    content: "<";
}
input.dig{
    width: 40px;
    outline: 0;
    border-width: 2px 2px 2px;
    border-color: grey;
    border-radius: 5px;
}
input.input:focus{
    border-color: green;
}
td.name{
    width: 500px;
}
details.top>table{
    position: absolute;
    margin-top: 5px;
}
details.up>summary{
    font-weight: 700;
}
details.up summary.up:after {
    content: ">";
    float: left;
}
details.up[open] summary.up:after {
    content: "<";
}
details.newt>summary{text-decoration: underline;font-weight: 600;}
details.topics>summary.topics{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
details.topics summary.topics:after {
    content: ">";
    float: left;
}
details.topics[open] summary.topics:after {
    content: "<";
}
details.topics{margin-left: 20px;}
details.types>summary.types{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
details.types summary.types:after {
    content: ">";
    float: left;
}
details.types[open] summary.types:after {
    content: "<";
}
details.types{margin-left: 20px;}