table{
    width: 100%;
}
.submit{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16xp;
    color :#fff ;
    background-color: #439bc4;
    outline: none;  
    cursor: pointer; 
    transition: 0.3s; 
}
div.search{
    padding: 0 10px 0 10px;
    float: left;
}
div.triangle{
    margin-left: 335px;
    border: 15px solid transparent;
    border-left:5px solid #fc0;
}
.search1{
    width: 250px;
    padding: 5px;
    height: 16px;
    border: 2px solid #fc0;
    float: left;
}
.search2{
    height: 30px;
    padding: 5px;
    font-family: sans-serif;
    border: none;
    background-color: #fc0;
}
input.input{
    width: 90%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: grey;
}
input.input:focus{
    padding: 5px 0 1px 5px;
    background-color:whitesmoke;
    border-radius: 3px;
    border-color: green;
}
input.radio:checked+label{
    padding: 5px 0 5px 0;
    border-radius: 5px;
    background-color: gainsboro;
}
textarea{
    border: 2px solid #888;
    border-radius: 5px;
}