select.group{
    margin-left: 10px;
}
table{
    width: 60%;
    margin-left: 10px;
    border-radius: 5px;
}
.submit{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16xp;
    color :#fff ;
    background-color: #439bc4;
    outline: none;  
    cursor: pointer; 
    transition: 0.3s; 
}
input.input{
	width: 90%;
    background-color: white;
    outline: 0;
    border-width: 0 0 2px;
    border-color: grey;
}
input.input:focus{
    background-color: whitesmoke;
    padding: 5px 0 1px 5px;
    border-color: green;
}
details>summary{
    color: blueviolet;
}
details>textarea{
    position: absolute;
    border-radius: 5px;
    border: 1px solid gray;
}
input.date{
    width: 90%;
    border-width: 0 0 2px;
    border-color: grey;
}